.formContainer {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-bottom: 40px;
}

.inputContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.formButtons {
  display: flex;
  justify-content: space-between;
  width: 100%;
  gap: 30px;
}

.formButtons button {
  width: 100%;
}
